{%if page_obj.paginator.num_pages != 1%}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {%if page_obj.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Назад">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {%endif%}
        {%for page in page_obj.paginator%}
        <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>
        {%endfor%}
        {%if page_obj.has_next%}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {%endif%}
    </ul>
</nav>
{%endif%}